  <div class="footer-border"></div>
  <div nz-col [nzXl]="{span: 8, offset: 8}" nzXs="24">
    <div nz-row nzJustify="space-between">
      <div nz-col nzSpan="4" class="menu-item">
        <a  routerLink="/home" routerLinkActive="active" style="text-align: center">
          <div class="footer-icon"><i nz-icon nzType="container" nzTheme="outline"></i></div>
          <h4>Booking</h4>
        </a>
      </div>
      <div nz-col nzSpan="4" class="menu-item">
        <a routerLink="/profile" routerLinkActive="active" style="text-align: center">
          <div class="footer-icon"><i nz-icon nzType="user" nzTheme="outline"></i></div>
          <h4>Profile</h4>
        </a>
      </div>
      <div nz-col nzSpan="4" class="menu-item">
        <a routerLink="/about" routerLinkActive="active" style="text-align: center">
          <div class="footer-icon"><i nz-icon nzType="info-circle" nzTheme="outline"></i></div>
          <h4>About</h4>
        </a>
      </div>
      <div nz-col nzSpan="4" class="menu-item">
        <a routerLink="/my-bookings" routerLinkActive="active" style="text-align: center">
          <div class="footer-icon"><i nz-icon nzType="unordered-list" nzTheme="outline"></i></div>
          <h4>My Bookings</h4>
        </a>
      </div>
      <div nz-col nzSpan="4" class="menu-item">
        <a routerLink="/branches" routerLinkActive="active" style="text-align: center">
          <div class="footer-icon"><i nz-icon nzType="environment" nzTheme="outline"></i></div>
          <h4>Branches</h4>
        </a>
      </div>
    </div>
  </div>

