<div nz-col [nzXl]="{span: 8, offset: 8}" nzXs="24">
  <div nz-row nzJustify="space-between">

    <nz-tabset>
      <nz-tab nzTitle="Information">
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
          industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
          electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of
          Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus
          PageMaker including versions of Lorem Ipsum.</p>
      </nz-tab>
      <nz-tab nzTitle="reviews">
        <h3>NAME</h3>
        <nz-rate [ngModel]="2.5" nzAllowHalf style="color: #0d0d0d"></nz-rate>
        <span style="font-weight: bold">28/09/2020</span>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
          industry's standard dummy text ever since the 1500s,</p>
        <div class="border"></div>
        <h3>NAME</h3>
        <nz-rate [ngModel]="2.5" nzAllowHalf></nz-rate>
        <span style="font-weight: bold">28/09/2020</span>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
          industry's standard dummy text ever since the 1500s,</p>
      </nz-tab>
      <nz-tab nzTitle="Contact">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2978.7289699164103!2d44.
        77525631535567!3d41.704786284221285!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.
        1!3m3!1m2!1s0x40440ccef5fb57db%3A0x4041b44710415841!2zMzIg4YOZ4YOd4YOg4YOc4YOU4YOa4YOYIOGDmeGDlOGDmeGDlOGDmuGDmOGDq-
        GDmOGDoSDhg6Xhg6Phg6nhg5AsIOGDl-GDkeGDmOGDmuGDmOGDoeGDmA!5e0!3m2!1ska!2sge!4v1601283266488!5m2!1ska!2sge"
                width="500" height="250" style="border:0;"
                allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        <address style="font-size: 15px"><i nz-icon nzType="environment" nzTheme="twotone"></i><span style="font-weight: bold">Address:</span> kekhelidze 32, Tbilisi</address>
        <p style="font-size: 15px"><i nz-icon nzType="phone" nzTheme="twotone"></i> <span style="font-weight: bold">Phone:</span> 555 555 555</p>
        <p style="font-size: 15px"><i nz-icon nzType="clock-circle" nzTheme="twotone"></i><span style="font-weight: bold">Working hours:</span> 10:00 - 20:00</p>
      </nz-tab>
    </nz-tabset>


  </div>
