.login-form {
  max-width: 100%;

}

.login-form-margin {
  margin-bottom: 16px;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}
[nz-form] {
  max-width: 600px;
}

.phone-select {
  width: 100%;
}

.register-are {
  margin-bottom: 16px;
}
