<div nz-col [nzXl]="{span: 16, offset: 8}" nzXs="24">
  <div nz-row nzJustify="start">
    <nz-tabset>
      <nz-tab nzTitle="List">
       <div style="display: flex">
        <div style="margin-right: 10px">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2978.7289699164103!2d44.
          77525631535567!3d41.704786284221285!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.
          1!3m3!1m2!1s0x40440ccef5fb57db%3A0x4041b44710415841!2zMzIg4YOZ4YOd4YOg4YOc4YOU4YOa4YOYIOGDmeGDlOGDmeGDlOGDmuGDmOGDq-
          GDmOGDoSDhg6Xhg6Phg6nhg5AsIOGDl-GDkeGDmOGDmuGDmOGDoeGDmA!5e0!3m2!1ska!2sge!4v1601283266488!5m2!1ska!2sge"
                  width="300" height="250" style="border:0;"
                  allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
          <address style="font-size: 15px"><i nz-icon nzType="environment" nzTheme="twotone"></i><span style="font-weight: bold">Address:</span> kekhelidze 32, Tbilisi</address>
          <p style="font-size: 15px"><i nz-icon nzType="phone" nzTheme="twotone"></i> <span style="font-weight: bold">Phone:</span> 555 555 555</p>
          <p style="font-size: 15px"><i nz-icon nzType="clock-circle" nzTheme="twotone"></i><span style="font-weight: bold">Working hours:</span> 10:00 - 20:00</p>
        </div>
        <div>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2978.7289699164103!2d44.
          77525631535567!3d41.704786284221285!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.
          1!3m3!1m2!1s0x40440ccef5fb57db%3A0x4041b44710415841!2zMzIg4YOZ4YOd4YOg4YOc4YOU4YOa4YOYIOGDmeGDlOGDmeGDlOGDmuGDmOGDq-
          GDmOGDoSDhg6Xhg6Phg6nhg5AsIOGDl-GDkeGDmOGDmuGDmOGDoeGDmA!5e0!3m2!1ska!2sge!4v1601283266488!5m2!1ska!2sge"
                  width="300" height="250" style="border:0;"
                  allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
          <address style="font-size: 15px"><i nz-icon nzType="environment" nzTheme="twotone"></i><span style="font-weight: bold">Address:</span> kekhelidze 32, Tbilisi</address>
          <p style="font-size: 15px"><i nz-icon nzType="phone" nzTheme="twotone"></i> <span style="font-weight: bold">Phone:</span> 555 555 555</p>
          <p style="font-size: 15px"><i nz-icon nzType="clock-circle" nzTheme="twotone"></i><span style="font-weight: bold">Working hours:</span> 10:00 - 20:00</p>
         </div>
       </div>
        <div style="display: flex">
          <div style="margin-right: 10px">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2978.7289699164103!2d44.
          77525631535567!3d41.704786284221285!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.
          1!3m3!1m2!1s0x40440ccef5fb57db%3A0x4041b44710415841!2zMzIg4YOZ4YOd4YOg4YOc4YOU4YOa4YOYIOGDmeGDlOGDmeGDlOGDmuGDmOGDq-
          GDmOGDoSDhg6Xhg6Phg6nhg5AsIOGDl-GDkeGDmOGDmuGDmOGDoeGDmA!5e0!3m2!1ska!2sge!4v1601283266488!5m2!1ska!2sge"
                    width="300" height="250" style="border:0;"
                    allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            <address style="font-size: 15px"><i nz-icon nzType="environment" nzTheme="twotone"></i><span style="font-weight: bold">Address:</span> kekhelidze 32, Tbilisi</address>
            <p style="font-size: 15px"><i nz-icon nzType="phone" nzTheme="twotone"></i> <span style="font-weight: bold">Phone:</span> 555 555 555</p>
            <p style="font-size: 15px"><i nz-icon nzType="clock-circle" nzTheme="twotone"></i><span style="font-weight: bold">Working hours:</span> 10:00 - 20:00</p>
          </div>
          <div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2978.7289699164103!2d44.
          77525631535567!3d41.704786284221285!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.
          1!3m3!1m2!1s0x40440ccef5fb57db%3A0x4041b44710415841!2zMzIg4YOZ4YOd4YOg4YOc4YOU4YOa4YOYIOGDmeGDlOGDmeGDlOGDmuGDmOGDq-
          GDmOGDoSDhg6Xhg6Phg6nhg5AsIOGDl-GDkeGDmOGDmuGDmOGDoeGDmA!5e0!3m2!1ska!2sge!4v1601283266488!5m2!1ska!2sge"
                    width="300" height="250" style="border:0;"
                    allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            <address style="font-size: 15px"><i nz-icon nzType="environment" nzTheme="twotone"></i><span style="font-weight: bold">Address:</span> kekhelidze 32, Tbilisi</address>
            <p style="font-size: 15px"><i nz-icon nzType="phone" nzTheme="twotone"></i> <span style="font-weight: bold">Phone:</span> 555 555 555</p>
            <p style="font-size: 15px"><i nz-icon nzType="clock-circle" nzTheme="twotone"></i><span style="font-weight: bold">Working hours:</span> 10:00 - 20:00</p>
          </div>
        </div>
      </nz-tab>
      <nz-tab nzTitle="view map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2978.7291554592216!2d44.77525631543566!3d41.70478227923634!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40440ccef5fb57db%3A0x4041b44710415841!2zMzIg4YOZ4YOd4YOg4YOc4YOU4YOa4YOYIOGDmeGDlOGDmeGDlOGDmuGDmOGDq-GDmOGDoSDhg6Xhg6Phg6nhg5AsIOGDl-GDkeGDmOGDmuGDmOGDoeGDmA!5e0!3m2!1ska!2sge!4v1601298260324!5m2!1ska!2sge" width="800" height="600" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
      </nz-tab>
    </nz-tabset>


  </div>
