<div nz-col [nzXl]="{span: 8, offset: 8}" [nzLg]="{span: 16, offset: 4}" [nzMd]="{ span: 24, offset: 0 }">
  <nz-card>

    <nz-collapse [nzBordered]="false">
      <nz-collapse-panel *ngFor="let panel of panels" [nzHeader]="panel.name" style="font-size: 18px">
        <nz-timeline>
          <button nz-button [nzSize]="size" nzType="default">14:00</button>
          <button nz-button [nzSize]="size" nzType="default">17:45</button>
          <button nz-button [nzSize]="size" nzType="default">18:45</button>
          <button nz-button [nzSize]="size" nzType="default">14:00</button>
          <button nz-button [nzSize]="size" nzType="default">17:45</button>
          <button nz-button [nzSize]="size" nzType="default">18:45</button>
        </nz-timeline>
      </nz-collapse-panel>
    </nz-collapse>
    <nz-collapse [nzBordered]="false">
      <nz-collapse-panel *ngFor="let panel of panels" [nzHeader]="panel.name" style="font-size: 18px">
        <nz-timeline>
          <button nz-button [nzSize]="size" nzType="default">14:00</button>
          <button nz-button [nzSize]="size" nzType="default">17:45</button>
          <button nz-button [nzSize]="size" nzType="default">18:45</button>
          <button nz-button [nzSize]="size" nzType="default">14:00</button>
          <button nz-button [nzSize]="size" nzType="default">17:45</button>
          <button nz-button [nzSize]="size" nzType="default">18:45</button>

        </nz-timeline>
      </nz-collapse-panel>
    </nz-collapse>
    <nz-collapse [nzBordered]="false">
      <nz-collapse-panel *ngFor="let panel of panels" [nzHeader]="panel.name" style="font-size: 18px">
        <nz-timeline>
          <button nz-button [nzSize]="size" nzType="default">14:00</button>
          <button nz-button [nzSize]="size" nzType="default">17:45</button>
          <button nz-button [nzSize]="size" nzType="default">18:45</button>
          <button nz-button [nzSize]="size" nzType="default">14:00</button>
          <button nz-button [nzSize]="size" nzType="default">17:45</button>
          <button nz-button [nzSize]="size" nzType="default">18:45</button>
        </nz-timeline>
      </nz-collapse-panel>
    </nz-collapse>


  </nz-card>
</div>
