
body {
  background: #ffffff;
  margin: 0;
  padding: 0;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.text-center {
  text-align: center;
}
.border {
  border-top: 1px solid #d1d1d6;
  width: 100vm;
  max-width: 280px;

}

h4 {
  color:#000000;
}
