<div nz-col [nzXl]="{span: 8, offset: 8}" [nzLg]="{span: 16, offset: 4}" [nzMd]="{ span: 24, offset: 0 }">
<nz-card >
  <div nz-row>
<div>
    <div style="display: flex">
      <nz-avatar style="margin-right: 15px" [nzSize]="64" nzIcon="user"></nz-avatar>
      <div>
        <h3>NAME</h3>
        <h5>position</h5>
        <nz-rate [ngModel]="2.5" nzAllowHalf ></nz-rate>
      </div>
    </div>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
      industry's standard dummy text ever since the 1500s
    </p>
  <button nz-button [nzSize]="size" nzType="default">14:00</button>
  <button nz-button [nzSize]="size" nzType="default">17:45</button>
  <button nz-button [nzSize]="size" nzType="default">18:45</button>
  <button nz-button [nzSize]="size" nzType="default">14:00</button>
  <button nz-button [nzSize]="size" nzType="default">17:45</button>
  <button nz-button [nzSize]="size" nzType="default">18:45</button>
  <div style="margin-top: 15px" class="border"></div>

</div>
    <div style="margin-top: 15px">
    <div style="display: flex">
      <nz-avatar style="margin-right: 15px" [nzSize]="64" nzIcon="user"></nz-avatar>
      <div>
        <h3>NAME</h3>
        <h5>position</h5>
        <nz-rate [ngModel]="2.5" nzAllowHalf ></nz-rate>
      </div>
    </div>
     <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
      industry's standard dummy text ever since the 1500s
    </p>
      <button nz-button [nzSize]="size" nzType="default">14:00</button>
      <button nz-button [nzSize]="size" nzType="default">17:45</button>
      <button nz-button [nzSize]="size" nzType="default">18:45</button>
      <button nz-button [nzSize]="size" nzType="default">14:00</button>
      <button nz-button [nzSize]="size" nzType="default">17:45</button>
      <button nz-button [nzSize]="size" nzType="default">18:45</button>
      <div style="margin-top: 15px" class="border"></div>
    </div>
    <div style="margin-top: 15px">
      <div style="display: flex">
        <nz-avatar style="margin-right: 15px" [nzSize]="64" nzIcon="user"></nz-avatar>
        <div>
          <h3>NAME</h3>
          <h5>position</h5>
          <nz-rate [ngModel]="2.5" nzAllowHalf ></nz-rate>
        </div>
      </div>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
        industry's standard dummy text ever since the 1500s
      </p>
      <button nz-button [nzSize]="size" nzType="default">14:00</button>
      <button nz-button [nzSize]="size" nzType="default">17:45</button>
      <button nz-button [nzSize]="size" nzType="default">18:45</button>
      <button nz-button [nzSize]="size" nzType="default">14:00</button>
      <button nz-button [nzSize]="size" nzType="default">17:45</button>
      <button nz-button [nzSize]="size" nzType="default">18:45</button>
      <button nz-button [nzSize]="size" nzType="default">18:45</button>
      <button nz-button [nzSize]="size" nzType="default">14:00</button>
      <button nz-button [nzSize]="size" nzType="default">17:45</button>
      <button nz-button [nzSize]="size" nzType="default">18:45</button>
    </div>
    </div>
</nz-card>
</div>
