<div nz-col [nzXl]="{span: 8, offset: 8}" [nzLg]="{span: 16, offset: 4}" [nzMd]="{ span: 24, offset: 0 }" style="padding-top: 20px">
  <div nz-row [nzGutter]="[15,15]">
    <div nz-col [nzXs]="{ span: 24 }" [nzSm]="{ span: 12 }">
      <nz-card>
        <div style="text-align: center">
          <a routerLink="/location">
            <div class="location">
              <i class="loc-icon" nz-icon nzType="environment" nzTheme="outline"></i>
              <h3> Tbilisi</h3>
            </div>
            <h5>1 ფილიალი</h5>
          </a>
        </div>
      </nz-card>
    </div>
    <div nz-col [nzXs]="{ span: 24 }" [nzSm]="{ span: 12 }">
      <nz-card>
        <div style="text-align: center">
          <a routerLink="/location">
            <div class="location">
              <i class="loc-icon" nz-icon nzType="environment" nzTheme="outline"></i>
              <h3> Tbilisi</h3>
            </div>
            <h5>1 ფილიალი</h5>
          </a>
        </div>
      </nz-card>
    </div>
    <div nz-col [nzXs]="{ span: 24 }" [nzSm]="{ span: 12 }">
      <nz-card>
        <div style="text-align: center">
          <a routerLink="/location">
            <div class="location">
              <i class="loc-icon" nz-icon nzType="environment" nzTheme="outline"></i>
              <h3> Tbilisi</h3>
            </div>
            <h5>1 ფილიალი</h5>
          </a>
        </div>
      </nz-card>
    </div>
    <div nz-col [nzXs]="{ span: 24 }" [nzSm]="{ span: 12 }">
      <nz-card>
        <div style="text-align: center">
          <a routerLink="/location">
            <div class="location">
              <i class="loc-icon" nz-icon nzType="environment" nzTheme="outline"></i>
              <h3> Tbilisi</h3>
            </div>
            <h5>1 ფილიალი</h5>
          </a>
        </div>
      </nz-card>
    </div>
  </div>

</div>

